@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
.header {
  background-color: #fff;
  max-width: 120rem;
  margin: auto;
  padding: 2rem;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 55%;
}

.header ul a {
  font-size: calc(10px + 14 * ((100vw - 320px) / 960));
  color: black;
  margin-right: 2rem;
  font-weight: 100;
}

.header ul a :last-child {
  margin-right: 0em;
}

.header ul a:hover {
  color: #485f8b;
}

.first {
  max-width: 120rem;
  margin: auto;
  padding: 2rem;
  background-color: #485f8b;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(1rem, 35rem))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(1rem, 35rem));
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first div {
  font-size: calc(12px + 6 * ((100vw - 320px) / 960));
  color: antiquewhite;
  margin: 1rem 2rem 1rem 2rem;
}

.first div h1 {
  font-size: calc(24px + 12 * ((100vw - 320px) / 960));
  text-transform: uppercase;
  font-weight: 300;
}

.button {
  background-color: black;
  max-width: 120rem;
  margin: auto;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(1rem, 35rem))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(1rem, 35rem));
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button .button-link {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.button button {
  font-size: calc(12px + 20 * ((100vw - 320px) / 960));
  font-weight: 300;
  padding: 1rem 3rem;
  margin: 3rem;
}

.button :hover {
  background-color: black;
  color: crimson;
}

.image {
  display: -ms-grid;
  display: grid;
  place-items: center;
  max-width: 120rem;
  margin: auto;
  padding: 2rem;
  background-color: white;
}

.image img {
  width: 65%;
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

* :before, * :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 10px;
  line-height: 1;
  background-color: #7c1616;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  margin: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}
/*# sourceMappingURL=main.css.map */