.header {
  background-color: #fff;
  max-width: 120rem;
  margin: auto;
  padding: 2rem;
}
.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 55%;
}
.header ul a {
  font-size: 2rem;
  color: black;
  margin-right: 2rem;
}
.header ul a :last-child {
  margin-right: 0em;
}

.first {
  max-width: 120rem;
  margin: auto;
  padding: 2rem;
  background-color: #485f8b;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1rem, 35rem));
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.first div {
  font-size: 1.5rem;
  margin: 1rem 2rem 1rem 2rem;
}
.first div h1 {
  font-size: 2rem;
  margin: 1rem 3rem;
}

.button {
  background-color: black;
  max-width: 120rem;
  margin: auto;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1rem, 35rem));
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button button {
  font-size: 2rem;
  padding: 1rem 3rem;
  margin: 3rem;
}
.button :hover {
  background-color: black;
  color: crimson;
}

.image {
  display: -ms-grid;
  display: grid;
  max-width: 120rem;
  margin: auto;
  padding: 2rem;
  width: 50%;
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding: 0;
}
.image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
* :before, * :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 10px;
  line-height: 1;
  background-color: #7c1616;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  margin: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}