
.header {
   background-color: #fff;
   @include container();
   //padding: 2rem 2rem 2em 12em ;

   ul {
    display: flex;
    justify-content:space-evenly;
    margin-left: 55%;
    
    a {
        @include adaptiv-font(24,10);
        color: black;
        margin-right: 2rem;
        font-weight: 200;
        :last-child {
            margin-right: 0em;
        }
        &:hover {
            color: rgb(72, 95, 139);
        }
    }
   }
}


