
.header {
   background-color: #fff;
   @include container();
   ul {
    display: flex;
    justify-content:space-evenly;
    margin-left: 45%;
    a {
        font-size: 2rem;
        color: black;
        margin-right: 2rem;
    }
   }
}


