.first {
    @include container();
    background-color: rgb(72, 95, 139);
    display: grid;
    //grid-template-columns: 25% 25% 25%;
    grid-auto-flow: column;
    justify-content: center;
    padding: 5rem 7rem;
    div {
        font-size: 1.5rem;
        h1 {
            font-size: 2rem;
            margin: 1rem 3rem;
        }
        margin: 1rem 2rem 1rem 2rem;
    }
}

.button {
    background-color: black;
    @include container();
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    //grid-template-columns: auto;
    //justify-content: center;
    button {
        font-size: 2rem;
        padding: 1rem 3rem;
        margin: 3rem;
    }
    :hover{
        background-color: cadetblue;
        color: crimson;
    }
}